<div class="container-fluid">
  <div class="row text-center">
    <div class="col-md-12">
      <h1>Eat Da Burger</h1>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-md-4">
      <h1>Burgers to Eat</h1>
       {{#each burgers}}
      {{#unless this.devoured}}
    <ul>
      {{this.id}}. {{this.burger_name}} 
      <form method="POST" action="/burgers/update?_method=PUT">
      <button id="eat" name="burger_id" value="{{this.id}}">EAT ME</button>
      </form>
    </ul>
    {{/unless}}
    {{/each}}
    </div>
    <div class="col-md-4">
       <img id="patty" src="../public/assets/img/burger.jpg">
    </div>
    <div class="col-md-4">
      <h1>Burgers that Were Eaten</h1>
       {{#each burgers}}
      {{#if this.devoured}}
    <ul>
      {{this.id}}. {{this.burger_name}}
    </ul>
    {{/if}}
    {{/each}}
    </div>
  </div>
  <div class="row text-center">
    <div class="col-md-12">
      <form method="POST" action="/burgers/create">
      <input type="text" name="burger_name">
      <button type="submit">Add to the Menu</button>
      </form>
    </div>
  </div>
</div>